html {
  height:100%;
  font-size: 100%;
}

@font-face {
  font-family: BebasKai;
  src: url("BebasKai-Regular.otf");
}

body {
  font-family: 'Space Mono';
  color: black;
  min-height: 100%;
}

body.landing {
  background-color: black;
  margin: auto;
}

.navbar {
  background-color: #24327a;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.navbar .logo {
  position: relative;
  padding: 7px;
}

.nav-btn {
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  border: none;
  position: relative;
  font-family: BebasKai;
  font-size: 18px;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.btn:hover {
  color: cyan;
}

.searchbar {
  position: relative;
  margin-left: auto;
  margin-right: 7px;
}

input[type=text] {
  width: 250px;
}

.sidebar {
  background-color: #0e153b;
  width: 208px;
  height: 100%;
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 1;
}

.link {
  text-decoration: none;
}

.colosseum-link {
  padding: 17px 20px 17px 20px;
  top: 15px;
  color: white;
  font-family: BebasKai;
  text-align: center;
  font-size: 20px;
  background-color: #6e090d;
}

.colosseum-link:hover{
  background: url("../assets/images/DiscordColosseum.png") no-repeat;
  background-size: cover;
}

.homepage {
  position: absolute;
  background-color: white;
  left: 208;
  right: 0;
  height: 100%;
  width: 100%;
}

.main-menu {
  color:white;
  font-family: BebasKai;
}

.main-menu ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  font-size: 18px;
}

.main-menu li {
  padding: 10px 0 10px 0;
}

.main-menu-buttons-link {
  vertical-align: middle;
  padding-right: 15px;
}

.main-menu-buttons-line:hover {
  color:#debd32;
}
